<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/modificationListProducts.css" />

</head>

<body>
  <%- include ("./partials/header.ejs") %>
    <main>
      <div class="titulo-main">
        <h1>Modificación lista de Productos</h1>
      </div>
      <div class="agregar">
        <button><i class="fas fa-check-circle"></i></i>Agregar producto</button>
      </div>

      <section class="lista-productos">
        <article class="contenedor-productos">
          <% for (let productsJson of products) {%>
            <div class="producto">
              <a href="<%= productsJson.id %>">
                <img src="/images/products/<%= productJson.image %>" width="160" height="160" />
            </div>
            <div class="detalle">
              <h2>Nombre</h2>
              <p>
                <%= productJson.name %>
              </p>
              <h2>Precio</h2>
              <p>
                <%= productJson.price %>
              </p>
              <h2>Descripción</h2>
              <p>
                <%= productJson.description%>
              </p>
              <h2>Categorías</h2>
              <p>
                 <%= productJson.category %>
              </p>
            </div>
            <div class="modificar">
              <button><i class="fas fa-clipboard-list"></i>Modificar</button>
              <form method="POST" action="/modificationListProducts/<%= productsJson.id %>?_method=DELETE">
                <button type="submit"><i class="fas fa-times-circle"></i>Eliminar</button>
              </form>
              </a>
            </div>
            <% } %>
        </article>


        <!--<article class="contenedor-productos">
          <div class="producto">
            <img src="/img/mantequilla-de-coco.png" width="160" height="160" alt="Mantequilla de coco" />
          </div>
          <div class="detalle">
            <h2>Nombre</h2>
            <p> Manteca de Coco</p>
            <h2>Precio</h2>
            <p>$400</p>
            <h2>Descripción</h2>
            <p>Manteca de Coco, Byour. 185gr</p>
            <h2>Categorías</h2>
            <p>gluten free, vegano, embasados, untables</p>
          </div>
          <div class="modificar">
            <button><i class="fas fa-clipboard-list"></i>Modificar</button>
            <form method="POST" action="/products/delete/<%= products[i].id %>?_method=DELETE">
            <button type="submit"><i class="fas fa-times-circle"></i>Eliminar</button>
            </form>
          </div>
        </article>
        <article class="contenedor-productos">
          <div class="producto">
            <img src="/img/mermelada-beepure.png" width="160" height="160" alt=" Mermelada" />
          </div>
          <div class="detalle">
            <h2>Nombre</h2>
            <p> Mermelada de frutos del bosque</p>
            <h2>Precio</h2>
            <p>$600</p>
            <h2>Descripción</h2>
            <p>Mermelada de frutos del bosque, Beepure. 450gr</p>
            <h2>Categorías</h2>
            <p>gluten free, vegano, embasados, untables</p>
          </div>
          <div class="modificar">
            <button><i class="fas fa-clipboard-list"></i>Modificar</button>
            <form method="POST" action="/products/delete/<%= products[i].id %>?_method=DELETE">
            <button type="submit"><i class="fas fa-times-circle"></i>Eliminar</button>
            </form>
          </div>
        </article>
        <article class="contenedor-productos">
          <div class="producto">
            <img src="/img/icecream.jpg" width="160" height="160" alt="ice-cream" />
          </div>
          <div class="detalle">
            <h2>Nombre</h2>
            <p>Helados de jugo de frutas, 5u. Guapaletas. </p>
            <h2>Precio</h2>
            <p>$260</p>
            <h2>Descripción</h2>
            <p>Helados de jugo. Guapaletas.</p>
            <h2>Categorías</h2>
            <p>gluten free, vegano</p>
          </div>
          <div class="modificar">
            <button><i class="fas fa-clipboard-list"></i>Modificar</button>
            <form method="POST" action="/products/delete/<%= products[i].id %>?_method=DELETE">
            <button type="submit"><i class="fas fa-times-circle"></i>Eliminar</button>
            </form>
          </div>-->
    </main>
    <%- include("./partials/footer.ejs") %>
</body>

</html>