<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/other-pages.css" />
</head>

<body>

  <%- include("./partials/header.ejs") %>
    <main class="main">
      <section class="products">
        <h2 class="h2">Productos</h2>
        <div class="product-container">
          <% for (let productsJson of products) {%>
            <article class="product-article">
              <img src= <%=productsJson.image %> />
              <div class="favoritos">
                <i class="fas fa-heart"></i>
              </div>
              <p class="p">
                <%= productsJson.name %>
              </p>
              <p class="price"> $
                <%= productsJson.price %>
              </p>
              <button class="search-btn"><a href="/products/productDetail/<%= productsJson.id %> ">Comprar</a></button>
            </article>
            <% } %>
              <!-- 
              <article class="product-article">
                <img src="img/icecream.jpg" alt="ice-cream" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">
                  Helados de jugo. Guapaletas.
                </p>
                <p class="price">$260</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="/img/muffins.jpeg" alt="muffins" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">Muffins con avena y frutas.</p>
                <p class="price">$160</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="/img/mantequilla-de-coco.png" alt="manteca de coco" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">Manteca de coco Byour. 185gr.</p>
                <p class="price">$400</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/mermelada-beepure.png" alt="mermelada" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">
                  Mermelada frutos del bosque., Beepure. 450gr.
                </p>
                <p class="price">$245</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/veggie-burger-delitas.png" alt="burger" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">
                  Hamburguesa de lentejas y arroz, Delitas. 600gr.
                </p>
                <p class="price">$300</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/aceite-coco.png" alt="aceite de coco" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">
                  Aceite neutro de coco, Chiagraal. 180gr.
                </p>
                <p class="price">$380</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/fideos-garbanzo.png" alt="fideos-garbanzo" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">
                  Pasta de garbanzos, Legume. 284gr
                </p>
                <p class="price">$120</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/leche-almendras.png" alt="leche almendras" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p class="p">
                  Leche de almendras cremosa, Amande. 1lt.
                </p>
                <p class="price">$160</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/chocolate.png" alt="Chocolate amargo" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p>
                  Cacao 80% Sin azucar, Dr Cacao. 80 gr.
                </p>
                <p class="price">$360</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/crudencio.png" alt="Crackers" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p>
                  Crackers sabor Puerro, Crudencio. 80 gr.
                </p>
                <p class="price">$120</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
              <article class="product-article">
                <img src="img/harina-integral.png" alt="Harina integral" />
                <div class="favoritos">
                  <i class="fas fa-heart"></i>
                </div>
                <p>
                  Harina Integral Orgánica, Terrasana.1 Kg.
                </p>
                <p class="price">$160</p>
                <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
              </article>
        </div>
         -->


              <section>
                <h3 class="h3">Los más vendidos</h3>
                <article class="contenedor-masVendidos">
                  <img src="/img/products/pepas.png" alt="Pepas organicas" />
                  <div class="contenedor-texto">
                    <p class="p">Pepas Organicas, Grun. 160g.</p>
                    <p class="price">$120</p>
                    <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
                  </div>
                </article>
                <article class="contenedor-masVendidos">
                  <img src="/img/products/barrita-arroz.png" alt="Barritas de arroz" class="imagen" />
                  <div class="contenedor-texto">
                    <p class="p">Barritas de arroz con sabor a coco. Crowie.</p>
                    <p class="price">$25</p>
                    <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
                  </div>
                </article>

                <section class="seleccionar-productos">
                  <h1>¿Cómo comprar?</h1>
                  <img src="/img/ayuda.png" alt="help">
                </section>
              </section>
      </section>

      <%- include ("./partials/footer.ejs") %>
</body>

</html>