<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./../partials/head.ejs") %>
    <!--vincular css-->
    <link rel="stylesheet" href="/css/productDetail.css" />
</head>

<body>
  <%- include("./../partials/header.ejs") %>

    <main class="main">
      <section class="product-detail">
        <h2>
          <%= detalle.name %>
        </h2>
        <article class="articulo">
          <img src=<%=detalle.image %> alt=" Miel Beepure" />
          <div class="detail-text">
            <p>
              <%= detalle.name %>
            </p>
            <p class="price">$<%= detalle.price %>
            </p>
            <div class="contar">
              <button class="plus">-</button>
              <input type="number" name="cantidad" id="cantidad" />
              <button class="less">+</button>
            </div>

            <div class="carrito">
              <button class="search-btn">
                <i class="fas fa-shopping-cart"> <a href="/products/productCart"></i>Agregar al carrito</a>
              </button>
            </div>
          </div>
        </article>

        <article class="descripcion">
          <h3>Descripción</h3>
          <p class="description-text">
            <%= detalle.description %>
          </p>
        </article>
        <section class="envios">
          <h3><i class="fas fa-truck"></i>Envíos</h3>
          <p>
            Realizamos envíos sin cargo por compras superiores a $2500 a CABA Y
            GBA. El costo del envío es de $500 en todo el país.
          </p>
        </section>
      </section>
    </main>
    <%- include("./../partials/footer.ejs") %>
</body>

</html>